<nav class="navbar navbar-light" style="background-color: lightgrey;">
    <div class="container-fluid">
      <a class="navbar-brand text-alert" href="/">
        <img src="assets/icon.png" alt="Pokedex" width="30" height="24">
        <strong style="color: #808080;">POKEDEX</strong>

      </a>
    </div>
  </nav>