<div clas="container-fluid">
    <div class="row pt-3">
        <div class="col-md-4 col-8 m-2">
            <input class="form-control clear" type="search" [formControl]="search" placeholder="Search"
                aria-label="Search">
        </div>
        <div class="col-md-2 col-4 mt-2 p-0">
            <button class="btn btn-outline-dark" (click)="getDetails(search.value)" data-bs-toggle="modal"
                data-bs-target="#pokeModal">Search</button>
        </div>
    </div>
    <hr class="m-3">
    <div class="row">
        <!-- list -->
        <div class="col-lg-3 col-md-6 col-12" *ngFor="let poke of list; let i = index">
            <div class="card m-2">
                <div class="card-body">
                    <h3 class="card-title">{{formatTitle(poke.name)}}</h3>
                    <p class="card-subtitle">No. {{formatNumber(i + 1)}}</p>
                    <button (click)="getDetails(poke.name)" type="button" class="btn btn-outline-dark mt-3"
                        data-bs-toggle="modal" data-bs-target="#pokeModal">
                        Details
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="pokeModal" tabindex="-1" aria-labelledby="pokeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div *ngIf="!loadingDetails; else loadingDetailsSpin" class="modal-content">
                                <div *ngIf="details; else errorDetails">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pokeModalLabel">
                                            {{formatTitle(details.species.name)}}
                                        </h5>
                                        <span *ngFor="let type of detailsType" class="badge m-2"
                                            [style]="'background-color :' + type.color">{{type.name}}</span>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <app-poke-details [details]="details"></app-poke-details>
                                    </div>
                                </div>
                                <ng-template #errorDetails>
                                    <div class="alert alert-danger alert-dismissible m-0" role="alert">
                                        <strong>ERROR</strong> : Pokemon <strong>{{search.value}}</strong> doesn't exist
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                </ng-template>
                            </div>
                            <ng-template #loadingDetailsSpin>
                                <div class="text-center">
                                    <img class="rotate" src="assets/icons/pokeball.png" />
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of page actions-->
        <div class="row justify-content-center">
            <div class="col-2 text-center m-3">
                <div *ngIf="loading; else more">
                    <img class="rotate" src="assets/icons/pokeball.png" />
                </div>
                <ng-template #more>
                    <button *ngIf="!all" type="button" class="btn btn-outline-dark" (click)="getMore()">Show
                        more</button>
                </ng-template>
            </div>
        </div>
    </div>



</div>