.hp {
    background-color: #A0F0A0;
  }
  
  .attack {
    background-color: #EFA0A0;
  }
  
  .defense {
    background-color: #F0F0A0;
  }
  
  .special-attack {
    background-color: #F7C8A0;
  }
  
  .special-defense {
    background-color: #E8C868;
  }
  
  .speed {
    background-color: #E4F5DC;
  }