<div class="container-fluid" *ngIf="details">
    <div class="row">
        <div class="col-5">
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img [src]="details.sprites.other['official-artwork'].front_default"
                            class="d-block w-100" alt="official">
                    </div>
                    <div class="carousel-item">
                        <img [src]="details.sprites.front_default"
                            class="d-block w-100" alt="front">
                    </div>
                    <div class="carousel-item">
                        <img [src]="details.sprites.back_default"
                            class="d-block w-100" alt="back">
                    </div>
                    <div class="carousel-item">
                        <img [src]="details.sprites.front_shiny"
                            class="d-block w-100" alt="front-shiny">
                    </div>
                    <div class="carousel-item">
                        <img [src]="details.sprites.back_shiny"
                            class="d-block w-100" alt="back-shiny">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <h5 class="m-0">Height :</h5>
            <p> {{details.height/10}} m</p>
            <h5 class="m-0">Weight :</h5>
            <p> {{details.weight/10}} kg</p>
        </div>
        <div class="col-7">
            <div *ngFor="let stat of details.stats" class="mb-2">
                <p class="m-0">{{stat.stat.name}}</p>
                <div class="progress">
                    <div class="progress-bar text-black" [class]="stat.stat.name"
                        role="progressbar"
                        [style.width]="(stat.base_stat / 300) * 100 + '%'"
                        aria-valuemin="0" aria-valuemax="300">
                        {{stat.base_stat}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>