/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #D4D4D4;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #DEDEDE;
  }